<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right">
    <b><%= @app_name.upcase %></b>
  </div>
  <!-- Default to the left -->
  <strong class='d-none d-sm-inline'>Copright</strong> &copy; <%= Date.today.year %>
</footer>
